@model HackathonManager.Models.MentorRequest

@{
    ViewBag.Title = "Request Updates";
}

<h2>@Model.Mentor.FirstName Request Updates For @Model.Team.Name</h2>

<h2>Request Updates</h2>
<p>Mentor: @Model.Mentor.FirstName</p>
<p>Team: @Model.Team.Name</p>

<p>Accepted: @(Model.Mentor.IsAvailable ? "Contacting Mentor" : "Request Accepted")</p>

<!--If rejected have a message saying unable to reach mentor right now.-->
<p>@(Model.RequestRejected ? "Unable reach mentor right now" : "")</p>

<button onclick="StartProcess()" type="button" class="btn btn-primary btn-success">Start the process</button>

<script>
    //CALLING METHOD IN THE CONTROLLER TO DO SOME WORK
    function StartProcess() {

        $.getJSON("/RequestUpdate/LongRunningProcess",
            {},
            function (data) {
                if (!data) {
                    alert("Success");
                }
                else {
                    alert(data);
                }
            });
    }

</script>
